<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tanked Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tanked</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="/">Accueil</a></li>
            <li><a href="/create-map">Créer une map</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
        </ul>
    </div>
</nav>

<div class="alert alert-info" style="width: 60%; margin-right: auto; margin-left: auto; margin-top: 10%; font-size: 20px;">
    <p>Vous êtes maintenant déconnecté.</p>
</div>

</body>
</html>